*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.ap_
*.aab
*.jks
*.keystore
*.hprof
*.log
*.tmp
*.temp
*.bak
*.swp
*~